`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
     crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Registration</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
            </ul>
            <span class="navbar-text">
              Creating My Own World
            </span>
          </div>
        </div>
      </nav>
      <section class="reg">
      <h1 class="head">Registration form</h1>
      <div class="alignn">
      
      <section class="left padd">
         <form action="/Register" method="POST">
         <div  class="textstyle">Full Name :</div> 
          <input class="gap" type = "text" name = "fullname" placeholder="Enter your name" id="fullname" autocomplete="on" required>
         <div class="textstyle">Email :</div> 
          <input class="gap" type = "text" name = "email" placeholder="Enter Email" id="email" autocomplete="on" required>
         <div class="textstyle">Password :</div> 
          <input class="gap" type = "password" name = "Password" placeholder="Password" id="Password" autocomplete="on" required>
      </section>
      <section class="right padd">
       <div class="textstyle">Username :</div>
        <input class="gap" type = "text" name = "Username" placeholder="Enter" id="Username" autocomplete="on" required>
       <div class="textstyle">phone :</div> 
        <input class="gap" type = "tel" name = "phone" placeholder="5555-555-555" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" id="phone" autocomplete="on" required>
       <div class="textstyle">Confirm password :</div>
        <input class="gap" type = "password" name = "confirmpassword" placeholder="Enter" id="confirmpassword" autocomplete="on" required>


      </section>
    </div>
  {{!--   <input type="submit" value="Register" class="register"/> --}}
   <button class="submit" value="Register">Submit</button>
     </form>
    </section>
   


</body>
</html>